.slider img {
    height: 450px;
    object-fit: cover;
}

.ant-layout-sider {
    flex: 0 0 100% !important;
    max-width: unset !important ;
    min-width: unset !important;
    width: unset !important;
}